.two-section{

    .two-hero{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__box{
            position: relative;
            &__image1{
                width: 600px;
            }
            &__image2{
                width: 600px;
            }

            &__link{
                position: absolute;
                color: aliceblue;
                bottom: 10px;
                left: 10px;
                border-bottom: 2px solid transparent;
                transition: 0.4s;

                &:hover{
                    color: black;
                    border-bottom: 2px solid #ff9946;
                }
            }
        }
    }
    .box{

        &__links{
            color: #000;
                margin-right: 20px;
            transition: 0.3s;
            border-bottom: 2px solid transparent;
            border-radius: 14px;
            padding: 1px 7px ;
            &:hover{
                color: red;
                border-bottom: 2px solid #ff9946;
                color: #000;
            }

        }
        &__links1{
            border-radius: 14px;
            padding: 1px 7px ;
            color: #999;
            border-bottom: 2px solid #999;
            transition: 0.3s;
            margin: 20px 0 ;
            
            &:hover{
            border-bottom: 2px solid #ff9946;
            color: #000;
        }
        }
    }
}

@media screen and (max-width: 768px){

    .two-section{

        .two-hero{
            flex-direction: column;
         
            &__box{
                position: relative;
                &__image1{
                    
                    margin: 30px 0;
                }
                &__image2{
                    margin: 30px 0;
                }

                &__link{
                    position: absolute;
                    bottom: 40px;
                }
            }
        }
    }
    
}